:root{
    --Tomato: hsl(4, 100%, 67%);
    --Dark_Slate_Grey: hsl(234, 29%, 20%);
    --Charcoal_Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family: theFont;
    src: url(/Newsletter-sign-up/assets/fonts/Roboto-Regular.ttf);
}
body{
    background: var(--Dark_Slate_Grey);
    color: var(--White);
    font-family: theFont;
    font-size: 16px;
    overflow: hidden;
}
.main{
    align-items: center;
    background: var(--White);
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row-reverse;
    height: 609px;
    justify-content: center;
    margin: 60px auto;
    width: 888px;
}
@media (max-width: 430px){
    body{
        background: var(--White) !important;
        color: var(--Dark_Slate_Grey) !important;
        overflow: hidden !important;
    }
    .main{
        border-radius: 0px;
        box-shadow: none;
        display: block;
        height: 842px;
        background: none !important;
        flex-direction: column-reverse !important;
        margin: 0 0;
        overflow: hidden;
        width: auto;
    }
    .sign-up-form{
        width: auto !important;
    }
    .sign-up-img{
        background: url(/Newsletter-sign-up/assets/images/illustration-sign-up-mobile.svg) !important;
        background-repeat-y: no-repeat !important;
        background-size: contain !important;
        height: 284px !important;
        margin-right: 0px !important;
        width: 100% !important;
    }
    .sme{
        width: 100% !important;
    }
    .content{
        padding: 13px 33px !important;
    }
    .content h1{
        font-size: 40px !important;
        margin: 20px 0 !important;
    }
    .content-list img {
        margin-bottom: 14px;
    }
    label{
        width: 309px !important;
    }
    .button{
        box-shadow: none !important;
        cursor: none;
    }
    .success-message{
        box-shadow: none !important;
        height: 842px !important;
        margin: 0px 0px !important;
        width: auto !important;
    }
    .success-message-content {
        margin: 114px 22px;
        padding: 0 6px !important;
    }
    .success-message-content h1 {
        font-size: 40px !important;
    }
    .success-message-content h4 {
        font-size: 17px !important;
    }
    .success-message-dismiss {
        bottom: 76px;
        padding: 0 32px !important;
        position: absolute;
        width: 100%;
    }
    .attribution{
        margin-top: -41px !important;
    }
}
.success-message{
    align-items: center;
    background: var(--White);
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    display: none;
    height: 484px;
    justify-content: center;
    margin: 110px auto;
    width: 491px;
}
.success-message button{
    align-self: center;
}
.success-message-content{
    /****/
    padding: 0 56px;
}
.success-message-content img{
    margin-top: 30px;
}
.success-message-content h1{
    color: var(--Dark_Slate_Grey);
    font-size: 50px;
    margin: 25px 0;
}
.success-message-content h4{
    color: var(--Grey);
    font-size: 20px;
    margin: 0 0;
}
b{
    color: var(--Dark_Slate_Grey);
}
.success-message-dismiss{
    padding: 0 56px;
    margin: 26px 0;
}
.sign-up-form{
    color: var(--Dark_Slate_Grey);
    width: 50%;
}
.sign-up-img{
    background: url(/Newsletter-sign-up/assets/images/illustration-sign-up-desktop.svg) no-repeat;
    background-size: contain;
    height: 90%;
    margin-right: -40px;
    width: 400px;
}
.content{
    padding: 30px;
}
.content h1{
    font-size: 50px;
    margin: 40px 0;
}
.content h4{
    margin: 10px 0;
}
.content-list img{
    margin-right: 10px;
    width: 20px;
}
.content-info div{
    align-items: center;
    display: flex;
}
.sme{
    border-radius: 10px;
    font-family: theFont;
    height: 53px;
    outline: none;
    width: 359px;
}
.email{
    border: 2px solid var(--Grey);
    padding-left: 20px;
}
.error{
    background: hsla(0, 100%, 50%, 0.192);
    border: 1px solid hsla(0, 100%, 50%, 0.863) !important;
    color: red !important;
}
.email:focus{
    border: 2px solid var(--Charcoal_Grey);
}
.email::placeholder{
    color: var(--Grey);
    font-size: small;
    padding-left: 5px;
}
#form div{
    margin-bottom: 20px;
}
label{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 359px;
}
label p{
    color: var(--Dark_Slate_Grey);
    font-size: small;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: -8px;
}
label span{
    color: hsla(0, 100%, 50%, 0.796);
    display: none;
    font-size: small;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: -8px;
}
.button{
    background: var(--Dark_Slate_Grey);
    border: none;
    box-shadow: 0px 25px 20px -20px var(--Charcoal_Grey);
    color: var(--White);
    padding: 17px 10px;
    text-align: center;
    
}
.button:hover{
    background: var(--Tomato);
    box-shadow: 0px 25px 20px -20px var(--Tomato);
    cursor: pointer;
}
.attribution { 
    font-family: theFont;
    font-size: 15px; 
    text-align: center; 
}
.attribution a { 
    color:var(--Tomato);
    text-decoration: none; 
}
.attribution a:hover {
    text-decoration: underline;
}
@media (min-height: 700px) {
    .attribution{
        margin-top: -43px;
    }
}
@media (max-width: 767px) and (min-width: 380px){
    /* Styles for tablets and small desktops */
    /**.main {
        height: auto;
        width: 100%;
    }**/
    .img-content{
        box-shadow: none !important;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        height: 262px;
        overflow: hidden;
    }
    sign-up-img{
        background-repeat: inherit !important;
        background-size: contain;
        margin-right: 0px;
        width: 100% !important;
    }
    .attribution{
        margin-top: 0 !important;
    }
}
@media (max-height: 841px) {
    .img-content{
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        height: 170px;
        overflow: hidden;
    }
}
